.checklist {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 0.5rem;

    @media (width >=1200px) {
        gap: 0.75rem;
    }
}

.checklistItem {
    flex-basis: calc(50% - 0.25rem);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    background: var(--primary);
    color: var(--light);
    padding: 1rem 0.5rem;
    border-radius: calc(var(--borderRadius) / 2.5);
    font-size: 0.66rem;
    line-height: 125%;
    text-transform: capitalize;
    font-weight: 600;
    border: 1px solid var(--primary);

    @media (width >=768px) {
        gap: 0.33rem;
        font-size: 0.875rem;
        max-width: 15rem;
    }

    @media (width >=1200px) {
        gap: 0.5rem;
        padding: 1rem;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1rem;
        height: 1rem;
        color: var(--dark);

        svg {
            width: 100%;
            height: 100%;
        }

        @media (width >=768px) {
            width: 1.25rem;
            height: 1.25rem;
        }

        @media (width >=1200px) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}