.checklist {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 0.5rem;

    @media (width >=1200px) {
        gap: 0.75rem;
    }
}

.checklistItem {
    flex-basis: calc(50% - 0.25rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    background: var(--primary);
    color: var(--light);
    padding: 0.875rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    line-height: 125%;
    text-transform: capitalize;
    font-weight: 700;
    border: 1px solid var(--primary);

    @media (width >=768px) {
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.33rem;
        max-width: 16rem;
    }

    @media (width >=1200px) {
        font-size: 1rem;
        padding: 1rem;
    }

    .icon {
        font-size: 1.25rem;
        color: var(--dark);

        @media (width >=1200px) {
            font-size: 1.5rem;
        }
    }
}