.contactRow {
    padding-bottom: 3rem;

    &::before {
        height: 6rem;
        width: 100%;
        background: var(--lightAlt);

        @media (width >=1200px) {
            content: '';
        }
    }

    @media (width >=1200px) {
        overflow: visible;

        .container {
            padding-top: 0;
        }
    }

    .container {
        @media (width >=1200px) {
            flex-flow: row nowrap;
        }
    }
}

.contactCol {
    @media (width >=1200px) {
        margin-top: -8rem;
        flex-basis: calc(52.5% - 2.5rem) !important;
    }
}

.contentCol {
    @media (width >=1200px) {
        flex-basis: calc(47.5% - 2.5rem) !important;
    }
}

.formCol {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--light);
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid rgba(var(--darkRgb), 0.15);
    box-shadow: 0 0 1rem 0 rgba(var(--darkRgb), 0.05);

    @media (width >=768px) {
        padding: 2rem;
    }

    @media (width >=1200px) {
        padding: 3rem;
    }
}