.faqsSection {
    &[data-theme="dark"] {
        background: var(--dark);

        h2 {
            color: var(--light);
        }

        svg {
            color: var(--secondary);
        }
    }
}

.faqItems {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width: 100%;

    &[data-layout="twoCols"] {
        @media (width >=1200px) {
            flex-flow: row wrap;
            gap: 2rem;

            .faqItem {
                flex: 0 0 calc(50% - 1rem);
            }
        }
    }
}

.faqItem {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(var(--darkRgb), 0.1);
    box-shadow: 0 0 10px 0 rgba(var(--darkRgb), 0.1);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--ease);

    .faqQuestion {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
        font-size: 0.9rem;
        position: relative;
        background: var(--light);
        padding: 1rem; 
        border-radius: 0.5rem;

        @media (width >=1200px) {
            font-size: 1.1rem;
            gap: 1rem;
        }
    }

    .faqQuestionIcon {
        flex-shrink: 0;

        @media (width >=768px) {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    .faqQuestionText {
        font-size: inherit;
        font-weight: 700;
        text-wrap: pretty;
        text-align: left;
        padding-right: 2rem;
    }

    .faqQuestionChevron {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: flex-end;
        transition: var(--ease);
        position: absolute;
        top: 0;
        right: 1rem;
        bottom: 0;
    }

    .faqAnswer {
        padding: 0 1rem 1rem 3.5rem;
        background: var(--light);
        border-radius: 0 0 0.5rem 0.5rem;

        @media (width >=768px) {
            padding: 0 1.5rem 1.5rem 4.5rem;
        }
    }

    &[open] {
        height: max-content;

        .faqQuestion {
            padding-bottom: 0.5rem;
            border-radius: 0.5rem 0.5rem 0 0;
        }

        .faqQuestionChevron {
            transform: rotate(180deg);
        }
    }
}