.pricingItems {
    margin-top: -2rem;
    gap: 1rem;

    @media (width >=1024px) {
        flex-flow: row nowrap;
        gap: 2rem;
        margin-top: 0;
    }

    .pricingItem {
        display: flex;
        flex-direction: column;
        gap: 0.66rem;
        padding: 1.5rem;
        background: var(--light);
        border-radius: var(--borderRadius);
        border: 1px solid rgba(var(--darkRgb), 0.15);
        box-shadow: 2px 4px 10px 0 rgba(var(--darkRgb), 0.075);
        transition: var(--ease);

        @media (width >=768px) {
            gap: 1rem;
            padding: 2rem;
        }

        @media (width >=1200px) {
            padding: 3rem;
        }

        @media (hover: hover) {
            &:hover {
                transform: translateY(-0.25rem);
                border-color: var(--primary);
            }
        }

        &[data-featured="true"] {
            background: linear-gradient(to top right, var(--primary), var(--secondary));

            * {
                color: var(--light) !important;
            }

            @media (width >=1024px) {
                margin-top: -3rem;
            }

            .btn {
                background: var(--dark);
                border-color: var(--dark);
            }
        }

        h2,
        h3,
        p {
            margin: 0;
            padding: 0;
        }

        .itemHeading {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            h2 {
                font-size: 1.75rem;
                color: var(--primary);

                @media (width >=1200px) {
                    font-size: 2rem;
                }
            }

            h3 {
                font-size: 0.75rem;
                opacity: 0.9;

                @media (width >=768px) {
                    font-size: 0.875rem;
                }

                @media (width >=1200px) {
                    font-size: 1rem;
                }
            }

            p {
                font-size: 0.75rem;

                @media (width >=768px) {
                    font-size: 0.875rem;
                }
            }
        }

        .itemContent {
            p {
                font-size: 0.875rem;
                line-height: 140%;
                opacity: 0.85;
            }
        }

        .featureItems {
            display: flex;
            flex-flow: column nowrap;
            gap: 0.75rem;
            margin: 1rem 0;
            padding: 2rem 0;
            border-top: 1px solid rgba(var(--darkRgb), 0.15);
            border-bottom: 1px solid rgba(var(--darkRgb), 0.15);

            .featureItem {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: 0.33rem;
                font-size: 0.875rem;
                font-weight: 600;

                .icon {
                    font-size: 1.25rem;

                    @media (width >=768px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .shoppingCartBtn {
            .icon {
                font-size: 1rem;

                @media (width >=768px) {
                    font-size: 1.25rem;
                }
            }
        }
    }
}