.section {

    .imageCol {
        position: relative;
    }

    .textSpinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        top: -1rem;
        right: -1rem;
        width: 6rem;
        height: 6rem;
        background: linear-gradient(to top right, var(--primary), var(--accent));
        border-radius: 50%;

        @media (width >=576px) {
            top: -1rem;
            right: -1rem;
            width: 7.5rem;
            height: 7.5rem;
        }

        @media (width >=1024px) {
            top: -2.5rem;
            right: -2.5rem;
            width: 12.5rem;
            height: 12.5rem;
        }

        .spinnerLogo {
            position: absolute;
            inset: 0;
            margin: auto;
            width: 33.33%;
            height: 33.33%;
            object-fit: contain;
        }

        .textSpinnerInner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85%;
            height: 85%;
            animation: spin 15s linear infinite;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @keyframes spin {
                from {
                    rotate: 0deg;
                }

                to {
                    rotate: 360deg;
                }
            }
        }
    }
}