@use "../init/mixins" as *;

.testimonials {

    .headingContainer {
        flex-direction: column-reverse;
        padding: 2rem;
        border-bottom: 1px solid rgba(var(--lightRgb), 0.1);

        @media (width >=1200px) {
            flex-flow: row nowrap;
            padding: 0 0 2rem;
        }
    }

    .badge {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background: rgba(var(--darkRgb), 0.5);
        color: var(--light);
        border-radius: var(--borderRadius);
        padding: 2rem;
        width: 100%;
        justify-self: flex-end;

        @media (width >=1200px) {
            display: flex;
            align-items: flex-start;
            width: max-content;
        }
    }

    .testimonialsContainer {
        padding-bottom: 2rem;

        @media (width >=1200px) {
            padding-bottom: 0;
        }
    }

    .splide.hasArrows {
        @media (width >=1200px) {
            padding-left: 0;
            padding-right: 4rem;
        }
    }

    .splide__arrows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto 0;
        width: 5rem;
        height: 100%;

        .splide__arrow {
            background: var(--dark);
            position: relative;
            inset: unset !important;
            transform: unset !important;
            width: 5rem;
            height: 5rem;

            &:hover {
                background: var(--primary);
            }

            &.splide__arrow--prev {
                scale: -1;
            }
        }
    }
}

.testimonialItemContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    @media (width >=1200px) {
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
    }

    .contentCol {
        gap: 1rem;

        p {
            margin-bottom: 0;
            font-size: 1rem;

            @media (width >=1200px) {
                font-size: 1.1rem;
                line-height: 150%;
                font-weight: 450;
            }

            @media (width >=1512px) {
                font-size: 1.25rem;
            }
        }
    }

    .imageCol {
        .imageFill img {
            @media (width <= 1200px) {
                position: relative;
            }
        }
    }

    .testimonialMeta {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 0.875rem;
        padding: 1.5rem 0;
        border-top: 1px solid rgba(var(--lightRgb), 0.1);
        border-bottom: 1px solid rgba(var(--lightRgb), 0.1);

        @media (width >=1200px) {
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 0.5rem;
        }

        .testimonialMetaInfo {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h3 {
                color: var(--primary);
                text-wrap: pretty;

                @media (width >=1200px) {
                    font-size: 1.5rem;
                }
            }
        }

        .companyLogo {
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            background: var(--light);
            border-radius: 0.5rem;
            padding: 0.5rem;

            @media (width >=1200px) {
                width: 6rem;
                height: 6rem;
            }

            @media (width >=1512px) {
                width: 6.5rem;
                height: 6.5rem;
            }

            img {
                width: 90%;
                height: 90%;
                object-fit: contain;
            }
        }

        .testimonialPosition {
            opacity: 0.9;
            line-height: 1.4;
            text-wrap: pretty;

            @media (width >=1200px) {
                font-size: 0.875rem;
                max-width: 25rem;
            }
        }
    }
}

.testimonials.colorDark {
    .headingContainer {
        border-color: rgba(var(--darkRgb), 0.1);
    }

    .badge {
        background: rgba(var(--darkRgb), 0.8);
    }

    .testimonialMeta {
        border-color: rgba(var(--darkRgb), 0.1);
    }

    .companyLogo {
        filter: none;
    }
}