@use "../init/mixins" as *;

.testimonials {

    .headingContainer {
        flex-direction: column-reverse;

        @media (width >=1200px) {
            flex-flow: row nowrap;
            justify-content: space-between;

            .heading {
                flex-basis: 50%;
            }
        }

    }

    .badge {
        display: none;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
        background: rgba(var(--darkRgb), 0.25);
        border: 1px solid rgba(var(--darkRgb), 0.3);
        color: var(--light);
        border-radius: calc(var(--borderRadius) / 2);
        padding: 2rem;
        width: 100%;
        justify-self: flex-end;

        @media (width >=1200px) {
            display: flex;
            align-items: flex-start;
            width: max-content;
        }
    }
}

.testimonialItem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(var(--lightRgb), 0.15);
    border: 1px solid rgba(var(--lightRgb), 0.3);
    padding: 1.5rem;
    border-radius: calc(var(--borderRadius) / 2);
    overflow: hidden;

    @media (width >=768px) {
        padding: 2rem;
        gap: 1.5rem;
    }

    .testimonialContent {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @media (width >=768px) {
            gap: 1rem;
        }

        p {
            font-weight: 500;
            margin: 0;
            padding: 0;
        }

        .starRating {
            display: flex;
            width: 100%;
            height: 1rem;

            @media (width >=768px) {
                height: 1.25rem;
            }

            svg {
                width: auto;
                height: 100%;
            }
        }
    }

    .testimonialMeta {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
        padding-top: 1rem;
        border-top: 1px solid rgba(var(--lightRgb), 0.15);

        .testimonialMetaImage {
            flex-shrink: 0;
            width: 4rem;
            height: 4rem;

            img {
                border-radius: 50%;
                overflow: hidden;
                object-fit: cover;
            }
        }

        .testimonialMetaInfo {
            display: flex;
            flex-direction: column;
            gap: 0.1rem;

            h3 {
                @media all {
                    font-size: 0.9rem;
                    font-weight: 400;
                    line-height: 125%;
                }
            }

            p {
                font-size: 0.75rem;
                opacity: 0.75;
            }
        }
    }
}