{
    "singleQuote": false,
    "trailingComma": "es5",
    "semi": false,
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": true,
    "arrowParens": "always",
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "strict"
}