.supportLogos {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    font-size: 0.75rem;

    @media (width >=768px) {
        font-size: 0.875rem;
        text-align: center;
    }

    @media (width >=1024px) {
        text-align: left;
    }

    .logos {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;

        @media (width >=1024px) {
            gap: 1.5rem;
        }

        img {
            flex-shrink: 0;
            width: auto;
            height: 2.5rem;
            aspect-ratio: 16/9;
            object-fit: contain;

            @media (width >=1024px) {
                height: 3rem;
            }
        }
    }

    &.cloverStyling {
        font-weight: 600;
        gap: 1.25rem;

        .logos {
            img {
                height: 2rem;
                width: auto;
                aspect-ratio: auto;

                @media (width >= 576px) and (width < 1024px) {
                    width: 100%;
                }
            }
        }
    }
}