// Colors
.colorPrimary {
    color: var(--primary);
}

.colorSecondary {
    color: var(--secondary);
}

.colorDark {
    color: var(--dark);
}

.colorLight {
    color: var(--light);
}

// Backgrounds
.bgPrimary {
    background-color: var(--primary);
}

.bgSecondary {
    background-color: var(--secondary);
}

.bgDark {
    background-color: var(--dark);
}

.bgLight {
    background-color: var(--light);
}

.bgDarkAlt {
    background-color: var(--darkAlt);
}