// Row
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: max-content;
    position: relative;
    overflow: hidden;

    @media (width >=1200px) {
        gap: 3rem;
    }
}

// Container
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 1.5rem;

    @media (width >=768px) {
        align-items: center;
        gap: 3rem;
        padding: 4rem 3rem;
        max-width: 90%;
    }

    @media (width >=1200px) {
        padding: 4rem 3rem;
        justify-content: center;
        align-items: flex-start;
    }

    @media (width >=1512px) {
        max-width: var(--layoutMaxWidth);
        padding: 5rem;
    }

    @media (width >=1920px) {
        max-width: 1512px;
    }

    // Centered
    &.centered {
        @media all {
            justify-content: center;
            align-items: center;

            * {
                text-align: center;
            }

            .eyebrow {
                justify-content: center;
                text-align: center;
                margin: 0 auto;
            }

            .heading {
                align-items: center;
                text-align: center;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin-right: auto;
                    margin-left: auto;
                    text-align: inherit;
                }

                p {
                    margin-right: auto;
                    margin-left: auto;
                    text-align: center;
                }
            }

            .buttons {
                justify-content: center;
                margin: 0 auto;
            }
        }

        @media (width >=1200px) {

            h1,
            h2 {
                max-width: 45rem;
            }

            p {
                max-width: 55rem;
            }
        }
    }

    // Dual Columns
    &.dualCols {
        @media (width >=1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: 5rem;

            >div {
                flex-basis: calc(50% - 2.5rem);
            }
        }

        .col {
            width: 100%;
            height: auto;
        }

        .contentCol {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            gap: 1.5rem;

            @media (width >=1200px) {
                gap: 2rem;
            }
        }

        &.rowReverse {
            flex-direction: column;

            @media (width >=1200px) {
                flex-direction: row-reverse;
            }
        }
    }

    // Auto Columns
    &.flexAuto {
        @media (width >=1200px) {
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: stretch;
            gap: 2rem;

            >div {
                flex: 1 1 calc(33.33% - 2rem);
            }
        }
    }

    // Remove padding per Class
    &.noPaddingTop {
        @media all {
            padding-top: 0;
        }
    }

    &.noPaddingBottom {
        @media all {
            padding-bottom: 0;
        }
    }

    @media (width >=1200px) {
        &.noPaddingRight {
            padding-right: 0;
        }

        &.noPaddingLeft {
            padding-left: 0;
        }
    }

    // Full Width Slider
    &.overflowContainer {
        @media all {
            align-items: unset;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
            max-width: 100%;
        }
    }
}

// Content container
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

// Heading container
.heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

    @media (width >=768px) {
        gap: 1.25rem;
    }

    &.centered {
        @media all {
            justify-content: center;
            align-items: center;
            text-align: center;

            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                text-align: inherit;
            }
        }
    }

    &.mobileCentered {
        @media (width <768px) {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    @media (width >=768px) and (width < 1200px) {
        align-items: center;
        text-align: center;

        h2 {
            margin: auto;
            text-align: center;
            max-width: 100%;
        }
    }

    @media (width >=1200px) {
        text-align: left;
        align-items: flex-start;
    }
}

// Buttons Container
.buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    width: 100%;

    >div {
        flex: 1 1 auto;
    }

    @media (width >=768px) {
        gap: 0.75rem;
    }

    @media (width >=1200px) {
        gap: 1rem;
    }

    &.centered {
        justify-content: center;
    }

    @media (width >=768px) and (width <1200px) {
        justify-content: center;
        align-items: center;
    }
}

// Next Style Image fill
.imageFill {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;

    @media (width >=768px) and (width <1200px) {
        max-height: 25rem;
    }

    img {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--borderRadius);
        overflow: hidden;
    }
}

// Divider
.divider {
    display: flex;
    width: max-content;
    height: max-content;


    svg {
        width: auto;
        height: 100%;
        max-height: 4px;

        @media (width >=768px) {
            max-height: 5.5px;
        }

        @media (width >=1512px) {
            max-height: 6px;
        }
    }
}