:root {
    font-size: 1rem;

    // Colours
    --primary: #0072EE;
    --primaryRgb: 0, 181, 255;
    --secondary: #00b5ff;
    --secondaryRgb: 0, 181, 255;
    --accent: #9D10B9;
    --accentRgb: 157, 16, 185;
    --dark: #03132E;
    --darkRgb: 3, 19, 46;
    --light: #fff;
    --lightRgb: 255, 255, 255;
    --lightAlt: #f7f9ff;
    --lightAltRgb: 247, 249, 255;

    // Fonts
    --heading: "Sharp Sans", ui-sans-serif, sans-serif;
    --text: "Poppins", ui-sans-serif, sans-serif;

    // Borders & Radius
    --btnRadius: 0.5rem;
    --borderRadius: 1rem;

    // Animations
    --ease: all 0.25s ease;

    // Header
    --headerHeight: 7rem;
    --mobileHeaderHeight: 5rem;
    --adminBarHeight: 2rem;

    // Layout
    --layoutMaxWidth: 90%;
}