@use "../../init/mixins" as *;

.btn {
    @include btn();

    &.noHover {
        &:hover {
            .icon {
                transform: unset;
            }
        }
    }

    &.primary {
        background: var(--primary);
        border-color: var(--primary);
        color: var(--light);
    }

    &.dark {
        background: var(--dark);
        border-color: var(--dark);
        color: var(--light);

        .icon {
            fill: var(--primary);
        }
    }

    &.light {
        background: var(--light);
        border-color: var(--light);
        color: var(--dark);
    }

    &.transparent {
        background: transparent;
        color: #fff;
        border-color: #fff;

        &.dark {
            color: var(--dark);
            border-color: var(--dark);

            .icon {
                fill: var(--dark);
            }

            &:hover {
                background: var(--dark);
                color: var(--light);

                .icon {
                    fill: var(--light);
                }
            }
        }
    }
}

.textBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;

    @media (width >=1200px) {
        font-size: 1.25rem;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        overflow: hidden;

        @media (width >=1200px) {
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
        }
    }
}