@use "../../init/mixins" as *;

.gform-theme--foundation {
    .gform_heading {
        display: none;
    }

    .gform_fields {
        gap: 1.25rem;
    }

    .ginput_container {

        input,
        select,
        textarea {
            text-align: left;
            background: var(--lightAlt) !important;
            border-radius: 0.25rem;
            min-height: .5rem;
            border: 1px solid rgba(var(--darkRgb), 0.25);

            &:focus,
            &:active {
                border-color: var(--primary);
                box-shadow: none !important;
                outline: none !important;
            }
        }

        select {
            position: relative;

            option {
                text-align: left;
            }
        }

        &.ginput_container_select {
            position: relative;

            &::after {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 0.35rem solid var(--primary);
                border-right: 0.35rem solid transparent;
                border-left: 0.35rem solid transparent;
                position: absolute;
                top: 1rem;
                right: 1rem;
                bottom: 0;
                margin: 0 auto;
                transition: var(--ease);
            }

            &:focus-within {
                &::after {
                    top: 1.1rem;
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }

    .gform-footer {
        justify-content: center;

        .gform_button {
            background: var(--primary) !important;
            transition: var(--ease) !important;

            &:hover {
                scale: 1.025;
            }
        }
    }
}