---
import Image from "astro/components/Image.astro"
import SocialLinks from "../social-links.astro"
const logo =
	'<svg width="128" height="72" viewBox="0 0 128 97" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path d="M61.5187 19.9359L67.9606 1.2932C68.1576 0.651901 67.6873 0 67.0276 0H24.3308C24.3308 0 0 0 0 24.158C0 50.6729 24.3308 50.6729 24.3308 50.6729H39.0297C42.4861 50.6729 45.6856 52.5321 47.4447 55.5628L69.9642 96.022C70.7405 97.3595 74.9178 97.3166 75.6356 95.9456L127.884 3.99043C128.231 3.32713 127.759 2.52604 127.021 2.52604H100.451C100.081 2.52604 99.7424 2.7389 99.5767 3.07597L73.0257 58.407C72.6382 59.1951 71.4922 59.1334 71.1792 58.3117C68.8308 52.1457 62.6169 35.7413 53.8753 32.4071C51.3763 31.4539 43.9923 31.186 37.7183 31.1415C31.1674 31.0951 21.6094 31.6728 21.6094 24.9998C21.6094 24.5482 21.6911 24.1104 21.8294 23.6929C22.9097 20.4314 26.1276 20.9322 29.5064 20.8801L60.6005 20.6341C61.0224 20.6276 61.3927 20.3461 61.5187 19.9359Z"/> <path d="M41.167 66.6658H4.95579C4.35234 66.6658 3.89237 67.2187 4.00226 67.8231C5.33511 75.1538 7.62659 79.4253 12.8981 82.2481C19.013 85.5226 26.2235 85.5217 33.1417 85.5208L53.2381 85.5208C54.5698 85.5208 55.5125 84.1908 55.0725 82.9104C52.4747 75.3512 50.2153 71.2413 45.9685 68.103C44.585 67.0807 42.8762 66.6658 41.167 66.6658Z"/> </svg>'
const googleBadge =
	'<svg width="123" height="25" viewBox="0 0 123 25" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4287 0.106312C11.6974 -0.0354375 12.4482 -0.0354375 13.8114 0.106312C16.2246 0.463479 18.4616 1.57891 20.1989 3.29131C19.0249 4.40105 17.8663 5.52699 16.7234 6.66881C14.5348 4.81381 12.0918 4.38565 9.39444 5.38431C7.41578 6.29431 6.03794 7.76898 5.26094 9.80831C3.99121 8.86302 2.73802 7.8957 1.50194 6.90681C1.41604 6.8616 1.31793 6.84504 1.22194 6.85956C3.18544 3.07373 6.25378 0.822062 10.4269 0.104562" fill="#F44336"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M1.21844 6.85956C1.31761 6.8444 1.41152 6.86015 1.50019 6.90681C2.73627 7.8957 3.98946 8.86302 5.25919 9.80831C5.05939 10.6029 4.93343 11.4143 4.88294 12.2321C4.92611 13.0231 5.05152 13.7995 5.25919 14.5613L1.31294 17.7026C-0.405559 14.1116 -0.437059 10.4972 1.21844 6.85956Z" fill="#FFC107"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0117 21.5071C18.7829 20.4234 17.4966 19.4069 16.1582 18.4621C17.4999 17.5147 18.3142 16.2151 18.6012 14.5631H12.0264V9.99731C15.8181 9.96581 19.608 9.9979 23.3962 10.0936C24.1149 13.9961 23.2848 17.5147 20.9059 20.6496C20.6231 20.9503 20.3235 21.2365 20.0117 21.5071Z" fill="#448AFF"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.25919 14.5631C6.69419 18.1296 9.32503 19.7944 13.1517 19.5576C14.2259 19.4332 15.2558 19.0579 16.1582 18.4621C17.4975 19.4094 18.782 20.4244 20.0117 21.5071C18.0633 23.2579 15.5791 24.2967 12.9644 24.4541C12.3704 24.5016 11.7735 24.5016 11.1794 24.4541C6.72511 23.9291 3.43627 21.6786 1.31294 17.7026L5.25919 14.5631Z" fill="#43A047"></path> <path d="M31.2554 20.2496L32.7179 14.3338L27.8129 10.3548L34.2929 9.82851L36.8129 4.24956L39.3329 9.82851L45.8129 10.3548L40.9079 14.3338L42.3704 20.2496L36.8129 17.1127L31.2554 20.2496Z" fill="#FFC002"></path> <path d="M51.0642 20.2496L52.4454 14.3338L47.8129 10.3548L53.9329 9.82851L56.3129 4.24956L58.6929 9.82851L64.8129 10.3548L60.1804 14.3338L61.5617 20.2496L56.3129 17.1127L51.0642 20.2496Z" fill="#FFC002"></path> <path d="M70.0642 20.2496L71.4454 14.3338L66.8129 10.3548L72.9329 9.82851L75.3129 4.24956L77.6929 9.82851L83.8129 10.3548L79.1804 14.3338L80.5617 20.2496L75.3129 17.1127L70.0642 20.2496Z" fill="#FFC002"></path> <path d="M89.0642 20.2496L90.4454 14.3338L85.8129 10.3548L91.9329 9.82851L94.3129 4.24956L96.6929 9.82851L102.813 10.3548L98.1804 14.3338L99.5617 20.2496L94.3129 17.1127L89.0642 20.2496Z" fill="#FFC002"></path> <path d="M108.255 20.2496L109.718 14.3338L104.813 10.3548L111.293 9.82851L113.813 4.24956L116.333 9.82851L122.813 10.3548L117.908 14.3338L119.37 20.2496L113.813 17.1127L108.255 20.2496Z" fill="#FFC002"></path> </svg>'
---

<footer
	id="footer"
	class="footer bgLight"
>
	<div class="container footerContainer centered">
		<div class="footerLogo colorPrimary">
			<a
				href="/"
				set:html={logo}
				aria-label="Go to home page"
			/>
		</div>
		<div class="footerLinks">
			<SocialLinks />
			<div class="seperator hidden-s hidden-m"></div>
			<a
				class="badge"
				href="https://www.google.com/search?q=syncvue+uk"
				target="_blank"
				rel="noopener noreferrer"
			>
				<span set:html={googleBadge} />
				<span><strong>4.9</strong> Based on <strong>234+</strong> reviews</span>
			</a>
		</div>
		<div class="copyright">
			<div class="copyrightText"
				><span>Copyright &copy; 2026 SyncVue UK</span>
				<span class="copyrightSeperator hidden-s hidden-m">|</span>
				<span>All rights reserved</span>
			</div>
			<div class="copyrightLinks">
				<a href="/privacy-policy">Privacy Policy</a>
				<span class="copyrightSeperator hidden-s hidden-m">|</span>
				<a href="/end-user-license-agreement">EULA</a>
			</div>
		</div>
	</div>
</footer>
