---
import HomeLayout from "../layouts/home.astro";
import "material-symbols/rounded.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<link
			rel="icon"
			href="/favicon.ico"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Syncvue UK - A modern way to manage your payments</title>
	</head>
	<body>
		<HomeLayout />
	</body>
</html>
