---
import Home from "../components/pages/home.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="description"
			content="Syncvue UK - A modern way to manage your payments. Streamline and simplify your payment management."
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Syncvue UK - A modern way to manage your payments</title>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<link
			rel="icon"
			href="/favicon.ico"
		/>
		<meta
			property="og:type"
			content="website"
		/>
		<meta
			property="og:title"
			content="Syncvue UK - A modern way to manage your payments"
		/>
		<meta
			property="og:description"
			content="Syncvue UK - A modern way to manage your payments. Streamline and simplify your payment management."
		/>
		<meta
			property="og:image"
			content="/site-image.png"
		/>
		<meta
			name="twitter:card"
			content="summary_large_image"
		/>
		<meta
			name="twitter:title"
			content="Syncvue UK - A modern way to manage your payments"
		/>
		<meta
			name="twitter:description"
			content="Syncvue UK - A modern way to manage your payments. Streamline and simplify your payment management."
		/>
		<meta
			name="twitter:image"
			content="/site-image.png"
		/>
	</head>
	<body>
		<Home />
	</body>
</html>
