@use "../../init/mixins" as *;

$border: 1px solid rgba(var(--lightRgb), 0.1);
$gapMobile: 2rem;

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 3rem;
        background: var(--light);
        rotate: 1.5deg;
        scale: 1.01;
        position: absolute;
        top: -1.5rem;
        right: 0;
    }
}

.footerTop {
    .footerContainer {
        padding-top: $gapMobile;
        padding-bottom: $gapMobile;

        @media (width >=1512px) {
            padding-top: calc($gapMobile * 2);
        }
    }
}

.footerMainContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: $gapMobile;
    padding-bottom: $gapMobile;

    @media (width >=1200px) {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;

        >div {
            flex-basis: calc(25% - 1rem);
        }
    }

    @media (width >=1512px) {
        gap: 3rem;

        >div {
            flex-basis: calc(25% - 1.5rem);
        }
    }

    .footerCol {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;

        @media (width < 1200px) {
            width: 100%;
        }

        .footerColHeadingText {
            color: var(--primary);
            font-size: 1rem;
            font-weight: 700;
            line-height: 115%;
            font-family: var(--heading);
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }

        ul {
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 1rem;
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0.875rem;

            li {
                opacity: 0.75;
                transition: var(--ease);

                &:hover {
                    opacity: 1;
                }
            }
        }

        p {
            display: none;
        }
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-family: var(--text);

        .formItem {
            display: flex;
            position: relative;
            color: var(--light);
            height: 3rem;

            svg {
                width: 0.875rem;
                height: 0.875rem;
                position: absolute;
                left: 0.66rem;
                transform: translateY(calc(100% + 0.125rem));
            }

            input {
                display: flex;
                text-align: left;
                background: rgba(var(--lightRgb), 0.1);
                border: $border;
                border-radius: 0.25rem;
                text-indent: 1.125rem;
                width: 100%;
                height: 100%;
                padding: 0 1rem;
                color: inherit;
                transition: var(--ease);

                &::placeholder {
                    color: var(--light);
                    opacity: 0.7;
                }

                &:focus,
                &:active {
                    border-color: var(--primary);
                }
            }
        }
    }

    .btn {
        &:hover {
            scale: 1.025;
        }
    }

    .formSubmit {
        background: transparent;
        border: none;
        font-family: inherit;
        font-weight: 500;
        font-family: var(--text);
        width: 100%;
        min-width: 100%;
        cursor: pointer;
    }

    .socialIcons {
        margin-top: 0.75rem;

        @media (width >=1200px) {
            margin-top: 1.5rem;
        }
    }
}

.copyright {
    .copyrightContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        width: 100%;
        max-width: 1512px;
        font-size: .875rem;
        line-height: 150%;

        @media all {
            padding-top: $gapMobile;
            padding-bottom: $gapMobile;
        }

        @media (width >=1200px) {
            text-align: left;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
}

.copyrightNav {
    ul {
        display: flex;
        flex-direction: row wrap;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0.875rem;

        li {
            opacity: 0.75;
            transition: var(--ease);

            &:first-child {
                &::after {
                    content: '|';
                    margin-left: 1rem;
                }
            }

            &:hover {
                opacity: 1;
            }

            &.current-menu-item {
                opacity: 1;
                font-weight: 700;
            }
        }
    }
}

.copyrightText {
    p {
        text-align: center;
        margin: 0 auto;
        padding: 0;
        font-size: inherit;
        line-height: inherit;
        width: 100%;

        @media (width >=1200px) {
            text-align: left;
            margin: 0;
            width: max-content;
        }
    }
}