.footerContainer {
    @media all {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.footerLinks {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;

    @media (width >=768px) {
        justify-content: space-between;
        text-align: left;
    }

    @media (width >=1200px) {
        gap: 5rem;
    }

    .seperator {
        width: 1px;
        height: 4rem;
        background: rgba(var(--darkRgb), 0.5);
        opacity: 0.1;
    }

    .badge {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        font-size: 0.75rem;
        transition: var(--ease);

        @media (width >=768px) {
            align-items: flex-start;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.copyright {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-top: 2rem;
    border-top: 1px solid rgba(var(--darkRgb), 0.15);
    text-transform: uppercase;

    @media (width >=1024px) {
        flex-flow: row nowrap;
    }

    .copyrightText {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        @media (width >=768px) {
            gap: 1rem;
        }

        .copyrightSeperator {
            display: none;
        }

        @media (width >=768px) {
            flex-direction: row;

            .copyrightSeperator {
                display: block;
            }
        }
    }

    .copyrightLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        @media (width >=768px) {
            flex-direction: row;
            gap: 1rem;
        }

        a {
            transition: var(--ease);

            &:hover {
                color: var(--primary);
            }
        }
    }
}