---
import Image from "astro/components/Image.astro";
import SocialLinks from "../components/social-links.astro";
---

<footer
	id="footer"
	class="footer bgLight"
>
	<div class="container footerContainer centered">
		<div class="footerLogo">
			<a href="/">
				<Image
					src="/syncvue-logo-secondary.svg"
					alt="Syncvue Logo"
					width={128}
					height={128}
				/>
			</a>
		</div>
		<div class="footerLinks">
			<SocialLinks />
			<div class="seperator"></div>
			<a
				class="badge"
				href="#"
				target="_blank"
				rel="noopener noreferrer"
			>
				<img
					src="/icons/google-badge-stars-icon.svg"
					alt="Google"
					width={123}
					height={25}
				/>
				<span><strong>4.9</strong> Based on <strong>234+</strong> reviews</span>
			</a>
		</div>
		<div class="copyright">
			<div class="copyrightText"
				><span>Copyright &copy; 2026 SyncVue UK</span>
				<span class="copyrightSeperator">|</span>
				<span>All rights reserved</span>
			</div>
			<div class="copyrightLinks">
				<a href="/privacy-policy">Privacy Policy</a>
				<span class="copyrightSeperator">|</span>
				<a href="/end-user-license-agreement">EULA</a>
			</div>
		</div>
	</div>
</footer>
