---
const logo = "/syncvue-logo.svg";
const phoneNumber = "0203 355 5615";
---

<header id="header" class="header">
    <div class="container headerContainer">
        <div class="logo">
            <a href="/"><img src={logo} alt="Syncvue logo" /></a>
        </div>
        <div class="headerActions">
            <a class="textBtn" href={`tel:${phoneNumber}`} target="_blank">
                <span class="hidden-l hidden-xl">Call</span>
                <div class="icon material-symbols-rounded">phone_in_talk</div>
                <span class="hidden-s hidden-m">{phoneNumber}</span>
            </a>
            <a class="btn primary" href="#pricing">
                <span>Get started</span>
                <div class="icon hidden-s hidden-m material-symbols-rounded">arrow_right_alt</div>
            </a>
        </div>
    </div>
</header>
