---
import "../assets/styles/main.scss";
import Header from "./header.astro";
import Banner from "../components/banner.astro";
import Section from "../components/section.astro";
import Testimonials from "../components/testimonials.astro";
---

<Header />
<Banner
    title="Built for wholesalers, by wholesalers"
    description="SyncVue connects your payment terminal to your invoicing system so you can find outstanding invoices, take part or full payments, and reconcile automatically while the customer is still at the counter. "
    imageUrl="/images/banner.webp"
    checkList={[
        {
            icon: "check_circle",
            text: "No paperwork later",
        },
        {
            icon: "check_circle",
            text: "No missed payments",
        },
        {
            icon: "check_circle",
            text: "No chasing tomorrow",
        },
        {
            icon: "check_circle",
            text: "Save time & money",
        },
    ]}
    buttonText="Get started now"
    buttonLink="#contact"
/>
<Section
    layoutType="rightImage"
    backgroundColour="lightAlt"
    title="Businesses utilising SyncVue save time and money"
    description="<p><strong>Thousands of pounds</strong> are lost every year to missed payments from part-paid or forgotten invoices.</p><p>Countless hours vanish in admin, chasing clients, checking statements, and matching payments to invoices by hand. It's slow, stressful, and leaves plenty of room for costly mistakes.</p><p> Even one missed <strong>£2,000 payment a month</strong> is common in this industry, and that adds up fast.</p> <p> With SyncVue, you can see every payment <strong>clearly and automatically</strong> match transactions to invoices, so nothing slips through the cracks.</p>"
    imageUrl="/images/first-image.webp"
    buttonTextOne="Get started now"
    buttonLinkOne="#contact"
    buttonTextTwo="Our Features"
    buttonLinkTwo="#features"
    hasTextSpinner={true}
/>
<Testimonials />