.splide {

    &.hasPagination {
        .splide__pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            position: unset;
            margin: 3rem auto 0;

            button {
                width: 1.5rem;
                height: 0.875rem;
                border-radius: 5rem;
                background: transparent;
                border: 1px solid var(--primary);
                opacity: 1;
                padding: 0;
                margin: 0;
                transition: var(--ease);

                @media (width >=1200px) {
                    width: 1.75rem;
                    height: 1.25rem;
                }

                &:hover {
                    background: var(--primary);
                    border-color: var(--primary);
                }

                &.is-active {
                    transform: unset;
                    width: 2.5rem;
                    background: var(--primary);

                    @media (width >=1200px) {
                        width: 3.5rem;
                    }
                }
            }
        }
    }

    &.paginationFlexStart {
        @media (width >=1200px) {
            .splide__pagination {
                justify-content: flex-start;
                margin-left: 0;
            }
        }
    }

    &.hasArrows {
        .splide__arrow {
            display: none;
            justify-content: center;
            align-items: center;
            width: 3.5rem;
            height: 3.5rem;
            background: var(--dark);
            border: 2px solid var(--light);
            border-radius: 50%;
            opacity: 1 !important;
            box-shadow: 0 0.25rem 1rem rgba(var(--darkRgb), 0.1);
            border: 1px solid rgba(var(--darkRgb), 0.15);
            transition: var(--ease);
            z-index: 100;

            @media (width >=1200px) {
                display: flex;
            }

            @media (width >=1600px) {
                display: flex;
                width: 4rem;
                height: 4rem;
            }

            svg {
                display: none;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                margin: auto;
                width: 50%;
                height: 50%;
                background: url("/wp-content/themes/vite/static/icons/arrow-right-light.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.75;
                transition: var(--ease);
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }

            &.splide__arrow--prev {
                left: 2.5%;
                transform: scale(-1) translateY(50%) translateX(50%);
            }

            &.splide__arrow--next {
                right: 2.5%;
                transform: translateY(-50%) translateX(50%);
            }
        }
    }

    &.hasMobilePagination {
        .splide__track {
            padding-bottom: 3rem !important;
        }
    }
}

.sliderHasGradients {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(to right, var(--lightAlt), transparent);
        width: 1.5rem;
        height: 100%;

        @media (width >=1200px) {
            width: 7.5rem;
        }
    }

    &::after {
        left: unset;
        right: 0;
        background: linear-gradient(to left, var(--lightAlt), transparent);
    }
}